<div class="top-row navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">AuthReset</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item ps-2">
            <NavLink class="nav-link d-flex justify-content-end" href="" Match="NavLinkMatch.All">
                <span aria-hidden="true"></span> Historical
            </NavLink>
        </div>

        <div class="nav-item ps-2">
            <NavLink class="nav-link d-flex justify-content-end" href="import-cmms-mappings" Match="NavLinkMatch.All">
                <span aria-hidden="true"></span> Update CMMS
            </NavLink>
        </div>

        <div class="nav-item ps-2">
            <NavLink class="nav-link d-flex justify-content-end" href="manage-associates">
                <span aria-hidden="true"></span> Associates
            </NavLink>
        </div>

        <div class="nav-item ps-2">
            <NavLink class="nav-link d-flex justify-content-end" href="manage-lines">
                <span aria-hidden="true"></span> Lines
            </NavLink>
        </div>
    </nav>
</div>

