@page "/"
@inherits EntityManagerBase<Reset, Reset>

<PageTitle>Home</PageTitle>

<h1>Historical Resets</h1>

@* Pretty basic for now, might add filters later, but DataView is already perfectly inherited via EntityManagerBase *@
<UniversalTable T="Reset" Items="DataView" OnSort="ToggleSort" GetSortIcon="GetSortIcon" />
