@page "/import-cmms-mappings"
@using CmmsCsvReader = CmmsCsvReader.UploadCsvToDb
@inherits EntityManagerBase<CmmsLine, CmmsLine>
@inject IWebHostEnvironment Environment
@inject IConfiguration Config
@attribute [Authorize(Roles = "Admin")]

<PageTitle>Import CMMS Mappings</PageTitle>

<h1>Update CMMS Mappings</h1>

<p>Upload a CSV of the Maximo export here to update the line names (locations) associated with each machine's CMMS number when a machine moves between lines</p>
<Alert Color="AlertColor.Danger" Class="d-inline-block"><strong>WARNING: </strong>If successful, this will overwrite the existing CMMS mappings (associates will retain their <em>lines</em>)</Alert>

<InputFile id="fileInput" OnChange="HandleFileSelection" accept=".csv" class="drag-drop-input"
        @ondrag:preventDefault="true" 
        @ondrop:preventDefault="true" />

@* <div class="d-flex mb-3" style="justify-content: center">
    <div class="upload-card flex-column @(_isDragging ? "drag-active" : "")"
    @ondrag:preventDefault="true" 
    @ondrop:preventDefault="true"> 
        <label for="fileInput" class="upload-button">
            <i class="bi bi-cloud-arrow-up" style="font-size: 22px"></i> Choose CSV File
        </label>
        
    </div> *@
    @if (filePath != null)
    {
        <h4>Selected file: @filePath</h4>
    }
    @if (!string.IsNullOrEmpty(uploadStatus))
    {
        <div class="status-box mt-3">
            <div class="status-header">Upload Progress</div>
            <pre class="status-content">@uploadStatus</pre>
        </div>
    }
@* </div> *@

@if (IsLoading){
    <Spinner Color="SpinnerColor.Primary" />
} else {
    @if (DataView.Count > 100){
        <Alert Color="AlertColor.Info" Class="d-inline-flex"><Icon Name="IconName.InfoCircle" Class="me-2" />This is a preview of the current mappings. There are more mappings not shown.</Alert>
    }
    <UniversalTable T="CmmsLine" Items="DataView.Take(100)" />
}

@code {
    private string? uploadStatus;
    private string? filePath;
    private bool _isDragging = false;

    private void HandleDragEnter() => _isDragging = true;
    private void HandleDragOver() => _isDragging = true;
    private void HandleDragLeave() => _isDragging = false;
    private void HandleDrop() => _isDragging = false;

    private async Task HandleFileSelection(InputFileChangeEventArgs e)
    {
        uploadStatus = "Uploading...";
        try
        {
            // The file content is read into a stream
            var file = e.File;
            if (file != null)
            {
                // Putting the upload in wwwroot works well from a file management standpoint, but will trigger dotnet watch's hot reload. dotnet run works fine.
                var uploadsFolderPath = Path.Combine(Environment.WebRootPath, "uploads");
                Directory.CreateDirectory(uploadsFolderPath); // Ensure directory exists

                string trustedFileName = $"cmms_mappings_{DateTime.Now:yyyy-MM-dd}";
                filePath = Path.Combine(uploadsFolderPath, trustedFileName + Path.GetExtension(file.Name));

                // Stream the file data from the element to the server
                using (FileStream stream = new(filePath, FileMode.Create))
                {
                    await file.OpenReadStream().CopyToAsync(stream);
                }

                // No risk of using null-forgiving operator because the app would have already crashed without a connection
                string conn = Config["ConnectionStrings__DefaultConnection"]!;
                uploadStatus = ""; // Clear so the upload has a fresh slate
                var blazorProgress = new Progress<string>(msg => {
                    uploadStatus += msg; // Get reported message
                    StateHasChanged(); // Refresh UI to show reported message
                });
                await CmmsCsvReader.Upload(filePath, conn, blazorProgress);
                await Task.Delay(100);
                if (uploadStatus.Contains("Connecting...Connected!\nUploading...Complete!")){
                    uploadStatus += $"\n'{file.Name}' successfully uploaded.";
                }
                await LoadData();
            }
        }
        catch (Exception ex)
        {
            uploadStatus += $"\nUpload failed: {ex.Message}";
        }
        finally{
            if(!string.IsNullOrWhiteSpace(filePath))
                File.Delete(filePath); // Clean up the uploads folder upon successful save to DB (the file is stored for less than a second)
        }
    }
}