@typeparam T
@using System.Reflection
@using System.ComponentModel.DataAnnotations.Schema

<div class="table-responsive-wrapper">
    <div class="table-container">
        <table class="table res-table table-striped text-nowrap">
            <thead class="table-dark">
                <tr>
                    @foreach (var prop in _cachedProps)
                    {
                        var attribute = prop.GetCustomAttribute<ColumnAttribute>();
                        <th>@(attribute?.Name ?? prop.Name)</th>
                    }
                     @if (OnDelete.HasDelegate || OnExpand.HasDelegate){
                        <th>Actions</th> @* For the delete button, plus probably an edit button if/when that is added later *@
                    }
                </tr>
            </thead>
            <tbody>
                <Virtualize TItem="T" Items="@(Items?.ToList())" Context="item" OverscanCount="10">
                    <tr @key="GetKey(item)" class="@(item?.Equals(target) == true ? "table-primary" : "")">
                        @foreach (var prop in _cachedProps)
                        {
                            <td>@(prop.GetValue(item)?.ToString() ?? "—")</td>
                        }
                        @if (OnExpand.HasDelegate || OnDelete.HasDelegate) {
                            <td>
                                @* Only show the expand button if there's an expand binding *@
                                @if (OnExpand.HasDelegate){
                                    <button class="btn btn-link p-0 text-secondary me-3" @onclick="() => OnExpand.InvokeAsync(item)" title="Expand">
                                        <Icon Name="IconName.List" Size="IconSize.x4" />
                                    </button>
                                }
                                @* Only show the delete button if there's a delete binding *@
                                @if (OnDelete.HasDelegate){
                                    <button class="btn btn-link p-0 text-danger" @onclick="() => OnDelete.InvokeAsync(item)" title="Delete">
                                        <Icon Name="IconName.Trash" Size="IconSize.x4" />
                                    </button>
                                }
                            </td>
                        }
                    </tr>
                </Virtualize>
            </tbody>
        </table>
    </div>
</div>

@code {
    [Parameter] public IEnumerable<T>? Items { get; set; } // The data to display
    [Parameter] public EventCallback<T> OnDelete { get; set; } // The action to bind to the delete button being pressed
    [Parameter] public EventCallback<T> OnExpand { get; set; } // The action to bind to the expand button being pressed
    [Parameter] public Func<T, object>? KeySelector { get; set; } // The mapping of how to get the key for T
    [Parameter] public T? target { get; set; } // The row to highlight
    private PropertyInfo[] _cachedProps = typeof(T).GetProperties().Where(p => p.GetCustomAttribute<NotDisplayedAttribute>() == null).ToArray(); // A cache of the properties of T so it's not invoked for each header, excluding those marked NotDisplayed
    private object GetKey(T item) => KeySelector?.Invoke(item) ?? item!; // When asked to get the key, try to use the key selector, but if there isn't one, use the object itself
}