@typeparam T
@using System.Reflection
@using System.ComponentModel.DataAnnotations.Schema

<div class="table-responsive-wrapper">
    <div class="table-container">
        <table class="table res-table table-striped text-nowrap">
            <thead class="table-dark">
                <tr>
                    @foreach (PropertyInfo prop in typeof(T).GetProperties())
                    {
                        ColumnAttribute? attribute = prop.GetCustomAttribute<ColumnAttribute>();
                        string? displayName = attribute?.Name ?? prop.Name;
                        
                        <th>@displayName</th>
                    }
                    <th>Actions</th> @* For the delete button, plus probably an edit button if/when that is added later *@
                </tr>
            </thead>
            <tbody>
                <Virtualize TItem="T" Items="@(Items?.ToList())" Context="item" OverscanCount="10">
                    <tr @key="item">
                        @foreach (PropertyInfo prop in _cachedProps)
                        {
                            <td>@(prop.GetValue(item)?.ToString())</td>
                        }
                        <td>
                            <button class="btn btn-link p-0 border-0 text-danger"
                                    style="line-height: 1; vertical-olign: middle;"
                                    @onclick="() => OnDelete.InvokeAsync(item)">
                                <Icon Name="IconName.Trash" Size="IconSize.x4" />
                            </button>
                        </td>
                    </tr>
                </Virtualize>
            </tbody>
        </table>
    </div>
</div>

@code {
    [Parameter] public IEnumerable<T>? Items { get; set; }
    [Parameter] public EventCallback<T> OnDelete { get; set; }
    private PropertyInfo[] _cachedProps = typeof(T).GetProperties();
}